<div class="all-models-page-container">
    <h2>All Models</h2>
    <div class="all-models-tabs-container">
        <div class="tab-item active" data-tab="all-models-overview">
            <span>All Models</span>
        </div>
        <div class="tab-item" data-tab="community-models">
            <span>Community Models</span>
        </div>
        <div class="tab-item" data-tab="pretrained-models">
            <span>Pretrained Models</span>
        </div>
    </div>
    <div class="tab-content">
        <!-- Content for selected tab will be loaded here -->
    </div>
</div>
