<div class="dashboard-tabs-container">
    <div class="tab-item active" data-tab="my-models">
        <i class="fas fa-globe"></i>
        <span>My Models</span>
    </div>
    <div class="tab-item" data-tab="in-progress">
        <i class="fas fa-hourglass-half"></i>
        <span>In Progress</span>
    </div>
    <div class="tab-item" data-tab="active-models">
        <i class="fas fa-play"></i>
        <span>Active</span>
    </div>
    <div class="tab-item" data-tab="tokens">
        <i class="fas fa-coins"></i>
        <span>Tokens Wallet</span>
    </div>
</div>
