<div class="all-models-tab-content">
    <div class="model-actions-buttons">
        <button class="add-model-button" data-model-type="custom">Edit Model</button>
    </div>
    <div class="info-banner">
        <span class="info-icon"><i class="fas fa-info-circle"></i></span>
        This is where all models that are available from the DataPulse team as well as community shared models
    </div>
    <div class="search-bar-container">
        <input type="text" placeholder="Search" class="search-input">
        <button class="search-button"><i class="fas fa-search"></i></button>
    </div>
    <div class="model-list scrollable-content">
        <!-- Models will be loaded here by JavaScript -->
    </div>
</div>
